In [13]:
import quandl
import pandas as pd

In [7]:
data = quandl.get("CHRIS/CME_NG1")
data.sort_index(ascending=False, inplace = True)

In [8]:
data

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
2020-01-23,1.915,1.980,1.913,1.938,0.021,1.926,172317.0,91025.0
2020-01-22,1.912,1.942,1.895,1.913,0.010,1.905,228265.0,145826.0
2020-01-21,1.970,1.970,1.825,1.908,0.108,1.895,244684.0,162624.0
2020-01-17,2.077,2.078,1.994,2.003,0.074,2.003,205991.0,176427.0
2020-01-16,2.134,2.170,2.071,2.076,0.043,2.077,200915.0,186277.0
...,...,...,...,...,...,...,...,...
1990-04-09,1.612,1.640,1.612,1.637,NaN,1.637,37.0,145.0
1990-04-06,1.615,1.635,1.610,1.625,NaN,1.625,62.0,136.0
1990-04-05,1.615,1.635,1.610,1.615,NaN,1.615,57.0,112.0
1990-04-04,1.620,1.650,1.599,1.620,NaN,1.620,84.0,127.0
1990-04-03,1.580,1.655,1.580,1.635,NaN,1.635,240.0,110.0

In [14]:
isinstance(data.index, pd.DatetimeIndex)

True

In [15]:
data.index.is_all_dates

True

In [17]:
data.isna().sum()

Open                             0
High                             0
Low                              0
Last                             0
Change                        5987
Settle                           0
Volume                           0
Previous Day Open Interest       0
dtype: int64