In [2]:
import quandl
import pandas as pd

In [82]:
gas_raw = quandl.get("CHRIS/CME_NG1") # my goal (after engineering it will become y and after shifting some X as well)
gas_raw.sort_index(ascending=False, inplace = True)
gas_raw

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
2020-01-28,1.902,1.952,1.883,1.928,0.032,1.934,57904.0,22835.0
2020-01-27,1.935,1.976,1.888,1.896,0.009,1.902,71598.0,33865.0
2020-01-24,1.938,1.945,1.872,1.886,0.033,1.893,138071.0,56858.0
2020-01-23,1.915,1.980,1.913,1.938,0.021,1.926,172317.0,91025.0
2020-01-22,1.912,1.942,1.895,1.913,0.010,1.905,228265.0,145826.0
...,...,...,...,...,...,...,...,...
1990-04-09,1.612,1.640,1.612,1.637,NaN,1.637,37.0,145.0
1990-04-06,1.615,1.635,1.610,1.625,NaN,1.625,62.0,136.0
1990-04-05,1.615,1.635,1.610,1.615,NaN,1.615,57.0,112.0
1990-04-04,1.620,1.650,1.599,1.620,NaN,1.620,84.0,127.0
1990-04-03,1.580,1.655,1.580,1.635,NaN,1.635,240.0,110.0

In [83]:
isinstance(gas_raw.index, pd.DatetimeIndex)

True

In [84]:
gas_raw.index.is_all_dates

True

In [85]:
gas_raw.isna().sum()

Open                             0
High                             0
Low                              0
Last                             0
Change                        5987
Settle                           0
Volume                           0
Previous Day Open Interest       0
dtype: int64

In [104]:
gas = gas_raw.drop(columns = ['Change', 'Last'])
gas.columns =['gas_open', 'gas_high', 'gas_low', 'gas_settle', 'gas_volume', 'gas_prevdayopeninterest']
gas.head()

,gas_open,gas_high,gas_low,gas_settle,gas_volume,gas_prevdayopeninterest
Date,,,,,,
2020-01-28,1.902,1.952,1.883,1.934,57904.0,22835.0
2020-01-27,1.935,1.976,1.888,1.902,71598.0,33865.0
2020-01-24,1.938,1.945,1.872,1.893,138071.0,56858.0
2020-01-23,1.915,1.980,1.913,1.926,172317.0,91025.0
2020-01-22,1.912,1.942,1.895,1.905,228265.0,145826.0

US 2Y interest rate

In [37]:
US_IR_raw = quandl.get("USTREASURY/YIELD")
US_IR_raw.sort_index(ascending = False, inplace = True)
US_IR_raw.head(3)

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2020-01-28,1.53,1.57,1.57,1.58,1.53,1.45,1.45,1.47,1.56,1.65,1.95,2.10
2020-01-27,1.53,1.55,1.55,1.57,1.53,1.44,1.41,1.44,1.52,1.61,1.91,2.05
2020-01-24,1.54,1.55,1.54,1.55,1.55,1.49,1.48,1.51,1.61,1.70,2.00,2.14
2020-01-23,1.55,1.57,1.55,1.56,1.55,1.51,1.51,1.55,1.65,1.74,2.03,2.18
2020-01-22,1.52,1.53,1.55,1.56,1.55,1.53,1.52,1.57,1.68,1.77,2.07,2.22

In [51]:
US_IR = US_IR_raw[['2 YR']]
US_IR.columns = ['US_rate_2y']
US_IR.head(3)

            US_rate_2y
Date
2020-01-28        1.45
2020-01-27        1.44
2020-01-24        1.49

In [52]:
isinstance(US_IR.index, pd.DatetimeIndex)

True

S&P500

In [94]:
SP500_raw = pd.read_csv('Data/^spx_d.csv', index_col= 'Data')
SP500_raw.sort_index(ascending = False, inplace = True)
SP500_raw.index = pd.to_datetime(SP500_raw.index)
SP500_raw.head(3)

            Otwarcie  Najwyzszy  Najnizszy  Zamkniecie      Wolumen
Data
2020-01-28   3255.35    3285.78    3253.22     3276.24          NaN
2020-01-27   3247.16    3258.85    3234.50     3243.63  605280855.0
2020-01-24   3333.10    3333.18    3281.53     3295.47  558038749.0

In [95]:
isinstance(SP500_raw.index, pd.DatetimeIndex)

True

In [105]:
SP500 = SP500_raw[['Zamkniecie']]
SP500.columns = ['SP500_close']
SP500.head()

            SP500_close
Data
2020-01-28      3276.24
2020-01-27      3243.63
2020-01-24      3295.47
2020-01-23      3325.54
2020-01-22      3321.75

Crude oil WTI

In [93]:
WTI_raw = quandl.get("CHRIS/CME_CL1")
WTI_raw.sort_index(ascending=False, inplace=True)
WTI_raw

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
2020-01-28,52.77,54.06,52.68,53.98,0.34,53.48,624411.0,482572.0
2020-01-27,53.70,53.71,52.13,52.83,1.05,53.14,703380.0,487487.0
2020-01-24,55.69,55.95,53.85,54.20,1.40,54.19,575489.0,479247.0
2020-01-23,56.11,56.27,54.77,55.70,1.15,55.59,689982.0,483899.0
2020-01-22,58.26,58.38,56.03,56.08,1.64,56.74,612847.0,472315.0
...,...,...,...,...,...,...,...,...
1983-04-06,29.90,29.92,29.65,29.90,NaN,29.90,392.0,640.0
1983-04-05,29.50,29.80,29.50,29.71,NaN,29.71,175.0,623.0
1983-04-04,29.30,29.70,29.29,29.44,NaN,29.44,156.0,583.0
1983-03-31,29.40,29.60,29.25,29.29,NaN,29.29,521.0,523.0
1983-03-30,29.01,29.56,29.01,29.40,NaN,29.40,949.0,470.0

In [106]:
isinstance(WTI_raw.index, pd.DatetimeIndex)

True

In [109]:
WTI_raw.isna().sum()

Open                             0
High                             0
Low                              0
Last                             0
Change                        7762
Settle                           0
Volume                           0
Previous Day Open Interest       1
dtype: int64

In [110]:
WTI = WTI_raw.drop(columns = ['Change', 'Last'])
WTI.columns = ['WTI_open', 'WTI_high', 'WTI_low', 'WTI_settle', 'WTI_volume', 'WTI_prevdayopeninterest']
WTI.head()

,WTI_open,WTI_high,WTI_low,WTI_settle,WTI_volume,WTI_prevdayopeninterest
Date,,,,,,
2020-01-28,52.77,54.06,52.68,53.48,624411.0,482572.0
2020-01-27,53.70,53.71,52.13,53.14,703380.0,487487.0
2020-01-24,55.69,55.95,53.85,54.19,575489.0,479247.0
2020-01-23,56.11,56.27,54.77,55.59,689982.0,483899.0
2020-01-22,58.26,58.38,56.03,56.74,612847.0,472315.0

Dutch gas TTF

In [112]:
TTF_raw = quandl.get("CHRIS/ICE_TFM1")
TTF_raw.sort_index(ascending=False, inplace=True)
TTF_raw

,Open,High,Low,Settle,Change,Wave,Volume,Prev. Day Open Interest,EFP Volume,EFS Volume,Block Volume
Date,,,,,,,,,,,
2020-01-28,10.600,10.875,10.525,10.792,0.266,10.744,11190.0,61973.0,1253.0,5190.0,580.0
2020-01-27,10.600,10.675,10.420,10.526,0.071,10.512,8810.0,69295.0,227.0,135.0,1871.0
2020-01-24,10.425,10.660,10.360,10.455,0.027,10.509,12090.0,70155.0,NaN,NaN,525.0
2020-01-23,10.380,10.455,10.220,10.428,-0.027,10.369,14020.0,68973.0,NaN,NaN,880.0
2020-01-22,10.700,10.750,10.355,10.455,-0.322,10.534,12330.0,68672.0,450.0,NaN,945.0
...,...,...,...,...,...,...,...,...,...,...,...
2013-10-11,27.075,27.100,27.075,27.100,-0.050,NaN,195.0,9625.0,NaN,NaN,NaN
2013-10-10,27.210,27.210,27.150,27.150,-0.138,NaN,360.0,9550.0,NaN,NaN,NaN
2013-10-09,27.330,27.350,27.250,27.288,0.038,NaN,1640.0,8360.0,NaN,NaN,NaN
2013-10-08,27.200,27.275,27.200,27.250,0.000,NaN,1205.0,11070.0,NaN,NaN,NaN
2013-10-07,27.250,27.275,27.200,27.250,0.343,NaN,1120.0,60.0,NaN,NaN,NaN

In [113]:
isinstance(TTF_raw.index, pd.DatetimeIndex)

True

In [141]:
TTF = TTF_raw.iloc[:,[0, 1, 2, 3, 6, 7]]
TTF.columns = ['TTF_open', 'TTF_high', 'TTF_low', 'TTF_settle', 'TTF_volume', 'TTF_prevdayopeninterest']
TTF.head()

,TTF_open,TTF_high,TTF_low,TTF_settle,TTF_volume,TTF_prevdayopeninterest
Date,,,,,,
2020-01-28,10.600,10.875,10.525,10.792,11190.0,61973.0
2020-01-27,10.600,10.675,10.420,10.526,8810.0,69295.0
2020-01-24,10.425,10.660,10.360,10.455,12090.0,70155.0
2020-01-23,10.380,10.455,10.220,10.428,14020.0,68973.0
2020-01-22,10.700,10.750,10.355,10.455,12330.0,68672.0

In [143]:
TTF.isna().sum()

TTF_open                    7
TTF_high                    7
TTF_low                     7
TTF_settle                  0
TTF_volume                 17
TTF_prevdayopeninterest     1
dtype: int64

EUR/USD

In [184]:
EURUSD = quandl.get("ECB/EURUSD")
EURUSD.sort_index(ascending=False, inplace=True)
EURUSD

             Value
Date
2020-01-28  1.1005
2020-01-27  1.1025
2020-01-24  1.1035
2020-01-23  1.1091
2020-01-22  1.1088
...            ...
1999-01-08  1.1659
1999-01-07  1.1632
1999-01-06  1.1743
1999-01-05  1.1790
1999-01-04  1.1789

[5394 rows x 1 columns]

In [185]:
isinstance(EURUSD.index, pd.DatetimeIndex)

True

In [186]:
EURUSD.isna().sum()

Value    0
dtype: int64

Gas inventory - EIA report

In [188]:
Gas_inv_raw = pd.read_excel('Data/Gas_Inventory.xlsx', skiprows=6, index_col='Week ending')
Gas_inv_raw.sort_index(ascending=False, inplace=True)
Gas_inv_raw.head()

,Source,East Region,Midwest Region,Mountain Region,Pacific Region,South Central Region,Salt,NonSalt,Total Lower 48
Week ending,,,,,,,,,
2020-01-17,EIA-912,696,815,151,220,1065,328,737,2947
2020-01-10,EIA-912,716,851,161,235,1076,320,756,3039
2020-01-03,EIA-912,756,885,166,244,1097,323,774,3148
2019-12-27,EIA-912,771,905,173,251,1093,313,780,3192
2019-12-20,EIA-912,796,923,177,260,1094,309,786,3250

In [189]:
Gas_inv = Gas_inv_raw.copy()
Gas_inv['Report_date'] = Gas_inv.index + pd.DateOffset(days=6)
Gas_inv.set_index(['Report_date'], inplace=True)
Gas_inv = Gas_inv[['Total Lower 48']]
Gas_inv.columns = ['Storage']
Gas_inv

             Storage
Report_date
2020-01-23      2947
2020-01-16      3039
2020-01-09      3148
2020-01-02      3192
2019-12-26      3250
...              ...
2010-02-04      2406
2010-01-28      2521
2010-01-21      2607
2010-01-14      2850
2010-01-07      3117

[525 rows x 1 columns]

Święta w dowolnym państwie: https://www.geeksforgeeks.org/python-holidays-library/

In [154]:
from datetime import date 
import holidays

In [169]:
swieta = []
for ptr in holidays.US(years = 2018).items(): 
    swieta.append(ptr)
swieta

[(datetime.date(2018, 1, 1), "New Year's Day"),
 (datetime.date(2018, 1, 15), 'Martin Luther King, Jr. Day'),
 (datetime.date(2018, 2, 19), "Washington's Birthday"),
 (datetime.date(2018, 5, 28), 'Memorial Day'),
 (datetime.date(2018, 7, 4), 'Independence Day'),
 (datetime.date(2018, 9, 3), 'Labor Day'),
 (datetime.date(2018, 10, 8), 'Columbus Day'),
 (datetime.date(2018, 11, 11), 'Veterans Day'),
 (datetime.date(2018, 11, 12), 'Veterans Day (Observed)'),
 (datetime.date(2018, 11, 22), 'Thanksgiving'),
 (datetime.date(2018, 12, 25), 'Christmas Day')]